---
layout: default
title: Articles from Carlos Eriksson
summary: "Every other Tuesday morning, you&rsquo;ll get a decade of knowledge and experience packed into a 5-minute piece of thoughtful and actionable advice on accessible and inclusive practices."
---
<div class="articles">

    <h1 class="page-heading gamma">Articles</h1>

    <div class="lead">
        <p>Get articles like these before they&rsquo;re published by subscribing to the fortnightly advice.</p>
    </div>

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <article>
                <h2 class="delta"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title  | markdownify | strip_html | trim }}</a>
                </h2>
                <p>{{ post.summary  | markdownify | strip_html | trim }}</p>
            </article>
        </li>
        {% endfor %}
    </ul>

    {% include email-cta.html %}

</div>
