<section class="email">

    <!-- Begin Mailchimp Signup Form -->
    <form action="https://carloseriksson.us7.list-manage.com/subscribe/post?u=74d468d8f9729558f8696095c&amp;id=40cbc48884" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

        <div class="field-group field-group--abreasted">
            <label for="mce-EMAIL" class="field-label visuallyhidden">Email (Required)</label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="E.g. jane.smith@company.com">
            <div class="field-group">
                <button type="submit" name="subscribe" id="mc-embedded-subscribe">Yes, subscribe</button>
            </div>
        </div>


        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>

        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_74d468d8f9729558f8696095c_40cbc48884" tabindex="-1" value="">
        </div>

    </form>
    <!--End mc_embed_signup-->

</section>

<script>

    /*!
 * Serialize all form data into a query string
 * (c) 2018 Chris Ferdinandi, MIT License, https://gomakethings.com
 * @param  {Node}   form The form to serialize
 * @return {String}      The serialized form data
 */
    var serialize = function (form) {

        // Setup our serialized data
        var serialized = [];

        // Loop through each field in the form
        for (var i = 0; i < form.elements.length; i++) {

            var field = form.elements[i];

            // Don't serialize fields without a name, submits, buttons, file and reset inputs, and disabled fields
            if (!field.name || field.disabled || field.type === 'file' || field.type === 'reset' || field.type === 'submit' || field.type === 'button') continue;

            // If a multi-select, get all selections
            if (field.type === 'select-multiple') {
                for (var n = 0; n < field.options.length; n++) {
                    if (!field.options[n].selected) continue;
                    serialized.push(encodeURIComponent(field.name) + "=" + encodeURIComponent(field.options[n].value));
                }
            }

            // Convert field data to a query string
            else if ((field.type !== 'checkbox' && field.type !== 'radio') || field.checked) {
                serialized.push(encodeURIComponent(field.name) + "=" + encodeURIComponent(field.value));
            }
        }

        return serialized.join('&');

    };

    /* Map $ to querySelector */
    function $(target) {
        return document.querySelector(target);
    }

    /* ready() */
    document.addEventListener("DOMContentLoaded", function (event) {
        var $form = $('#mc-embedded-subscribe-form');
        var $submit = $('#mc-embedded-subscribe');

        if ($form.length > 0) {

            console.log({$form});
            console.log({$submit});

            $submit.addEventListener("click", function (e) {
                e.preventDefault();
                register($form)

            }, false);

        }
    });
    /* End of ready() */

    function register($form) {

        $submit.textContent = "Sending...";



        var request = new XMLHttpRequest();
        request.open('GET', 'https://carloseriksson.us7.list-manage.com/subscribe/post-json?u=74d468d8f9729558f8696095c&amp;id=40cbc48884', true);

        request.onload = function() {
            if (request.status >= 200 && request.status < 400) {
                // Success!
                var data = JSON.parse(request.responseText);

                console.log(data);

            } else {
                console.log({request});
                // We reached our target server, but it returned an error

            }
        };

        request.onerror = function() {
            // There was a connection error of some sort
            console.log({request});
        };

        request.send();



        $.ajax({
            type: $form.getAttribute('method'),
            url: $form.getAttribute('action'),
            data: serialize($form),
            cache: false,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (err) { alert('Could not connect to the registration server. Please try again later.') },
            success: function (data) {
                $('#mc-embedded-subscribe').val('subscribe')
                if (data.result === 'success') {
                    // Yeahhhh Success
                    console.log(data.msg)
                    $('#mce-EMAIL').css('borderColor', '#ffffff')
                    $('#subscribe-result').css('color', 'rgb(53, 114, 210)')
                    $('#subscribe-result').innerHTML('<p>Thank you for subscribing. We have sent you a confirmation email.</p>')
                    $('#mce-EMAIL').textContent = "";
                } else {
                    // Something went wrong, do something to notify the user.
                    console.log(data.msg)
                    $('#mce-EMAIL').css('borderColor', '#ff8282')
                    $('#subscribe-result').css('color', '#ff8282')
                    $('#subscribe-result').innerHTML('<p>' + data.msg.substring(4) + '</p>')
                }
            }
        })
    };
</script>
