---
layout: default
---
<article class="article" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="article__header">

        <h1 class="article__title gamma" itemprop="name headline">{{ page.title
            }}</h1>

        <div class="lead">
            {{ page.summary | markdownify | strip_html | trim }}
        </div>

    </header>

    <div id="article-content" class="article__content" itemprop="articleBody">
        {{ content }}
    </div>

    {% include email-cta.html %}

</article>

